@import "variables";

.footerWrapper {
    border-top: 2px solid $tertiary-color;

    .usHolder {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        .footerTitle {
            font-size: large;
            font-weight: bold;
            color: $tertiary-color;
        }

        p {
            color: $tertiary-color;
        }

        .follow-us {
            .social-media {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin: 40px 0 0 0;
                color: $tertiary-color;
            }
        }
    }

    .copy-right {
        text-align: center;
        color: $tertiary-color;
    }
}