@import "variables";

.headerWrapper {
    position: sticky;
    top: 0;

    .toolBar {
        background: $main-white;
        justify-content: space-between;

    .logo {
        width: 100px
    }

        .navLinksWrapper {
            display: flex;
            align-items: right;
            justify-content: right;

            .navLinks {
                display: grid;
                text-decoration: none;
                grid-template-columns: repeat(4, 1fr);

                .links {
                    color: $primary-color;
                    text-decoration: none;
                }
            }

            .signin {
                width: 125px;
                margin: 04px 0;
                font-size: 16px;
                font-weight: bold;
                color: $main-white;
                text-decoration: none;
                background: $primary-color;
            }
        }
    }
}