@import "variables";

.headerWrapper {
    position: sticky;
    top: 0;
    
    .toolBar {
        background: $main-white;
        justify-content: space-between;

        .navLinksWrapper {

            display: flex;
            align-items: right;
            justify-content: right;
            
            .navLinks {
                display: grid;
                text-decoration: none;
                grid-template-columns: repeat(4, 1fr);
                
                .links {
                    color: $primary-color;
                    text-decoration: none;
                }
            }


            .signin {
                width: 150px;
                margin: 06px 0;
                font-size: 18px;
                font-weight: bold;
                color: $main-white;
                text-decoration: none;
                background: $primary-color;
            }
        }
    }
}