@import "variables";

.AppBar {
    .Toolbar {
        background: white;

        .IconButton1 {
            color: $primary-color;
            // background: orange;
            // font-size: 24px;
            width: 80px;
            height: 80px;
        }

        .logo {
            width: 125px;
        }

        .title {
            color: $primary-color;
        }

        .profileWrapper {
            width: 85px;
            height: 85px;
            margin: 0 0 0 10px;
            border-radius: 42px;
            // background: #1E92E5;

            .userIcon {
                width: 85px;
                height: 85px;
                border-radius: 42px;
            }
        }
    }
}

.list {
    color: $primary-color;
    
    .CommonIcon {
        font-size: 30px;
        color: $primary-color;
    }

    .signoutButton {
        background: $primary-color;
        margin: 30px 0;

        .ExitToAppIcon {
            font-size: 40px;
            // margin: 0 0 0 -5;
            color: $main-white;
        }
    }
}

.signout {
    color: $main-white;
    font-size: 25px;
}