.headerWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.headerWrapper .toolBar {
  background: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerWrapper .toolBar .logo {
  width: 100px;
}

.headerWrapper .toolBar .navLinksWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.headerWrapper .toolBar .navLinksWrapper .navLinks {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.headerWrapper .toolBar .navLinksWrapper .navLinks .links {
  color: #1E92E5;
  text-decoration: none;
}

.headerWrapper .toolBar .navLinksWrapper .signin {
  width: 125px;
  margin: 04px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background: #1E92E5;
}

.footerWrapper {
  border-top: 2px solid #3AA338;
}

.footerWrapper .usHolder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.footerWrapper .usHolder .footerTitle {
  font-size: large;
  font-weight: bold;
  color: #3AA338;
}

.footerWrapper .usHolder .about-us, .footerWrapper .usHolder .contact-us {
  font-size: 14px;
}

.footerWrapper .usHolder p {
  color: #3AA338;
}

.footerWrapper .usHolder .follow-us .social-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 40px 0 0 0;
  color: #3AA338;
}

.footerWrapper .copy-right {
  text-align: center;
  color: #3AA338;
}

.card {
  width: 50%;
  margin: 40px auto 40px auto;
  height: 46vh;
}

.card h1 {
  text-align: center;
  color: #1E92E5;
}

.card .formContainer {
  width: 80%;
  margin: 15px auto 0 auto;
}

.card .formContainer .form {
  margin: 15px 0;
}

.card .signin {
  width: 100%;
  margin: 32.5px auto;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background: #1E92E5;
}

.AppBar .Toolbar {
  background: white;
}

.AppBar .Toolbar .IconButton1 {
  color: #1E92E5;
  width: 80px;
  height: 80px;
}

.AppBar .Toolbar .logo {
  width: 100px;
}

.AppBar .Toolbar .title {
  color: #1E92E5;
}

.AppBar .Toolbar .profileWrapper {
  width: 85px;
  height: 85px;
  margin: 0 0 0 10px;
  border-radius: 42px;
}

.AppBar .Toolbar .profileWrapper .userIcon {
  width: 85px;
  height: 85px;
  border-radius: 42px;
}

.list {
  color: #1E92E5;
}

.list .CommonIcon {
  font-size: 30px;
  color: #1E92E5;
}

.list .signoutButton {
  background: #1E92E5;
  margin: 30px 0;
}

.list .signoutButton .ExitToAppIcon {
  font-size: 40px;
  color: #ffffff;
}

.signout {
  color: #ffffff;
  font-size: 25px;
}

/* -------------------- Sidebar ---------------------- */
.contentWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 40px 0 0 10px;
}

.App {
  background: #ffffff;
}
/*# sourceMappingURL=App.css.map */